<form method="post" action="{{ path('repository_currency_delete', {'id': currency.id}) }}" onsubmit="confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ currency.id) }}">
    <button class="btn">Delete</button>
</form>
