<form class="form-inline" id="row{{position.id}}" method="post" action="{{ path('portfolio_position_delete', {'id': position.id}) }}" onsubmit="confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ position.id) }}">
    <a class="page-link mb-3" href="#" onclick="delete_item('row{{position.id}}')"><span data-feather='trash-2' ></span></a>
</form>
