{% extends 'base.html.twig' %}

{% block title %}New OpenOrder{% endblock %}

{% block body %}
    <h1>Create new OpenOrder</h1>

    {{ include('open_order/_form.html.twig') }}

    <a href="{{ path('open_order_index') }}">back to list</a>
{% endblock %}
